# Managed by Ansible (role oracle). Read by db/migrate.sh and db/tune-redo.sh.
ORACLE_PASSWORD={{ oracle_password }}
APP_USER={{ app_db_user }}
APP_USER_PASSWORD={{ app_db_password }}
ORACLE_SERVICE={{ oracle_service }}
